* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 277px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  flex-direction: column;
  background-color: #f7f7f9;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background-color: rgb(255, 255, 255);
}

#logo {
  padding-left: 20px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

#menu-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
}

#profile {
  background-image:
    url(./images/background/figures/Group60.svg),
    url(./images/background/figures/Group56.svg),
    url(./images/background/figures/Group59.svg),
    url(./images/background/figures/Group58.svg),
    url(./images/background/figures/Group57.svg),
    url(./images/background/figures/Ellipse15.svg),
    url(./images/background/figures/Ellipse14.svg),
    url(./images/background/figures/Ellipse8.svg);
  background-position:
    100% 26px,
    33.33% 56px,
    0% 12px,
    bottom 138px right 19%,
    bottom 26.85px right 50%,
    bottom 48px right 84%,
    80% 211px,
    57% 18px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 114px 24px 136px 24px;
}

#intro {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 0;
}

#about-me {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.contacts-heading {
  margin: 8px 0;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-media-icons {
  padding-top: 12px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

#projects {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 88px;
  padding: 114px 24px;
}

.project {
  background-color: white;
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.project-snapshot {
  width: 100%;
  order: -1;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: fit-content;
  height: 48px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin: 12px 0;
  padding: 12px;
  transition-duration: 0.3s;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
}

button:active {
  background: #2230d2;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
  pointer-events: none;
}

.project-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.dot-seperator {
  width: 8px;
  height: 8px;
}

.project-languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project-languages > li {
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.color-neutrals {
  color: #7a869a;
}

.project-description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

#about-myself {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 114px 24px;
  background-color: white;
  border-top-right-radius: 75px;
  gap: 12px;
}

#about-myself-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 12px;
}

.list-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 24px 12px;
}

.hidden {
  display: none;
}

hr.solid {
  border-top: 1px solid #dfe1e6;
}

.arrow {
  border: solid #406d98;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#footer {
  background-image:
    url(./images/background/figures/footer-figure1.svg),
    url(./images/background/figures/footer-figure3.svg),
    url(./images/background/figures/footer-figure2.svg);
  background-position:
    100% 21px,
    40.8% 55px,
    bottom 48.83px right 12.53%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  padding-bottom: 45px;
  background-color: #6070ff;
  border-top-left-radius: 75px;
}

#footer h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 103px 0 12px;
  color: #fff;
  text-align: center;
}

#footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  height: 102px;
}

#footer input {
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#client-name {
  width: 100%;
  box-sizing: border-box;
  margin-top: 87px;
  padding: 15px 38px 15px 16px;
}

#client-email {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 15px 38px 15px 16px;
}

#client-message {
  width: 100%;
  height: 170px;
  box-sizing: border-box;
  margin-top: 18px;
  padding: 15px 38px 15px 16px;
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  resize: none;
}

::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.form-button {
  border: 1px solid #cfd8dc;
  margin: 0;
  margin-top: 22px;
}
