* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 277px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  flex-direction: column;
  background-color: #f7f7f9;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background-color: rgb(255, 255, 255);
}

#logo {
  padding-left: 20px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

#menu-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
}

#profile {
  background-image:
    url(./images/background/figures/Group60.svg),
    url(./images/background/figures/Group56.svg),
    url(./images/background/figures/Group59.svg),
    url(./images/background/figures/Group58.svg),
    url(./images/background/figures/Group57.svg),
    url(./images/background/figures/Ellipse15.svg),
    url(./images/background/figures/Ellipse14.svg),
    url(./images/background/figures/Ellipse8.svg);
  background-position:
    100% 26px,
    33.33% 56px,
    0% 12px,
    bottom 138px right 19%,
    bottom 26.85px right 50%,
    bottom 48px right 84%,
    80% 211px,
    57% 18px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 114px 24px 136px 24px;
}

#intro {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 0;
}

#about-me {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#contacts-heading {
  margin: 8px 0;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#social-media-icons {
  padding-top: 12px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

#projects {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 88px;
  padding: 114px 24px;
}

.project {
  background-color: white;
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 16px;
}

.project-snapshot {
  width: 100%;
  order: -1;
}

.button-see-project {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 124px;
  height: 48px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #6070FF;
  border-radius: 8px;
  margin: 12px 0;
}

.project-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.dot-seperator {
  width: 8px;
  height: 8px;
}

.project-languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;  
  color: #6070FF;
}

.project-languages > li {
  background: #EBEBFF;
  padding: 4px 12px;
  border-radius: 8px;
}

.color-neutrals {
  color: #7A869A;
}

.project-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}